/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  background-color: #13171b;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.block {
  overflow: hidden;
  padding: 10px;
  text-align: center;
  width: 100%;
  min-width: 200px;
}

.logo {
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo-img {
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.name {
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
}

.block__link {
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ededed;
  border-radius: 20px;
}

.color-telegram {
  background-color: #0487d9;
}

.color-yoomoney {
  background-color: #8b3ffd;
}

.color-gmail {
  background-color: #c4211f;
}

.color-boosty {
  background-color: #d45124;
}

.color-donationalerts {
  background-color: #f58a07;
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}
